.custom-button {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.25rem;
  border: 1px solid #666;
  border-radius: 0.25rem;
  background: none;
  color: #666;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  font-family: "DM Sans", sans-serif;
  font-size: 0.875rem;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: rgb(247, 248, 249);
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  }

  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  &:focus-visible {
    box-shadow: none;
  }

  &.primary {
    border-color: #07a17b;
    color: #07a17b;

    &:hover,
    &:focus {
      filter: drop-shadow(0px 0px 9px rgba(7, 161, 123, 0.25));
    }
  }

  &.dropdown {
    svg {
      margin-top: 0.125rem;
      margin-left: 0.25rem;
    }
  }

  &.mini {
    padding: 8px 4px;

    &:not(.primary) {
      &:hover,
      &:focus {
        background: none;
        filter: none;
      }
    }
  }
}
