$breakpoint-tablet: 835px;

nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);

  ul {
    max-width: 1200px;
    margin: 0;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    list-style: none;

    li {
      margin-left: 1.5rem;

      a {
        position: relative;
        display: block;
        padding: 1.5rem 0;
        color: #666;
        text-decoration: none;
      }

      a.active,
      a:hover,
      a:focus {
        color: #000;
      }

      a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        opacity: 0;
      }

      a:hover::after {
        background-color: #666;
        opacity: 1;
      }

      a.active::after {
        background-color: #000;
        opacity: 1;
      }
    }
  }

  .logo,
  .hamburger {
    padding: 1.5rem 0;
  }

  .logo {
    margin-left: 2rem;

    a {
      text-decoration: none;
      color: #000;

      span {
        display: none;
      }
    }
  }

  .hamburger {
    display: none;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    justify-content: space-between;

    nav {
      position: relative;
    }

    ul {
      display: none;
      flex-direction: column;
      z-index: 2;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: white;
      box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

      &.hidden {
        display: none;
      }

      &.flex {
        display: flex;
      }

      li {
        margin-left: 0;

        a {
          padding: 1rem 0;
        }
      }
    }

    .logo,
    .hamburger {
      align-self: flex-start;
    }

    .hamburger {
      display: block;
      margin-right: 2rem;
      cursor: pointer;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
