.main-container {
  height: calc(100vh - 70px);
  padding: 2rem;
  display: grid;
  grid-template-areas:
    "canvas panel"
    "canvas explanations"
    "controls explanationsExtra";
  grid-template-columns: 2.25fr 1fr;
  grid-template-rows: 70px auto 40px;
  grid-column-gap: 2rem;
}

.canvas-wrapper {
  grid-area: canvas;

  &.canvas-split-mode {
    display: flex;
    gap: 10px;

    .canvas-component {
      width: 50%;
    }
  }
}

.explanations-wrapper {
  margin-top: 1rem;
  grid-area: explanations;
  overflow-y: auto;
}

.panel-wrapper {
  grid-area: panel;
  display: flex;
  align-items: center;
  gap: 36px;
}

.explanations-extra {
  grid-area: explanationsExtra;
}

.error-snackbar {
  .MuiSnackbarContent-root {
    background-color: #ff5252;
  }
}

.controls {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .slider {
    label {
      display: flex;
      align-items: center;
      color: #666;
      font-size: 14px;

      input {
        width: 100px;
        margin-left: 8px;
      }
    }
  }

  .right-buttons {
    display: flex;

    .control-button {
      color: #666;

      &.green {
        color: #07a17b;
      }

      &.red {
        color: #d16d6d;
      }

      button {
        padding: 4px 12px;
        font-size: 12px;

        .MuiButton-endIcon {
          margin-left: 4px;
        }
      }
    }
  }
}
